@charset "utf-8";

.header-container{
  background: -moz-linear-gradient(top, #88e7ff, #FFF);
  background: -webkit-linear-gradient(top, #88e7ff, #FFF);
  background: linear-gradient(to bottom, #88e7ff, #FFF);
}

.header-container h1::before{
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  background-image: url(../img/エレキギターのアイコン1.png);
  width: 48px;/*画像の幅*/
  height: 48px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}

.sitetitle{
  position: relative;
  height: 200px;
}

.sitetitle h1{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  -webkit-transform : translateX(-50%);
  transform : translateX(-50%);
}

.sitetitle p{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  -webkit-transform : translateX(-50%);
  transform : translateX(-50%);
}

.main-img{
  height: 800px;
  width: 1349px;
  opacity: 0.8;
}

.main-profile{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  height: 250px;
  text-align: center;
}

.profile-img-icon{
  height: 200px;
  width: 150px;
  float: left;
}

.profile-img{
  margin-left: 250px;
}

.profile-title{
  margin: 10 auto 10 750px;
}

.parsol::before{
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  background-image: url(../img/parsol.png);
  width: 15px;/*画像の幅*/
  height: 15px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}

.skill::before{
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  background-image: url(../img/本アイコン.png);
  width: 15px;/*画像の幅*/
  height: 15px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}

.like::before{
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  background-image: url(../img/スポーツシューズアイコン2.png);
  width: 15px;/*画像の幅*/
  height: 15px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}

.parsol{
  margin: 10 auto 10 750px;
}

.skill{
  margin: 10 auto 10 750px;
}

.like{
  margin: 10 auto 10 750px;
}

.footer h2::before{
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  background-image: url(../img/戦いのアイコン.png);
  width: 15px;/*画像の幅*/
  height: 15px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}

.footer h2::after{
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  background-image: url(../img/戦いのアイコン.png);
  width: 15px;/*画像の幅*/
  height: 15px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
}

.the-goal{
  height: 470px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background-image: url(../img/f-22.jpg);
  background-size: cover;
  color:white;
  background-color:rgba(255,255,255,0.25);
  background-blend-mode:lighten;
}

.main-goal{
  height: 500px;
}

.main-goal h2{
  margin: 0 auto;
  text-align: center;
}
